
body, html {
    height: 100%;
    margin: 0;
}

.nocontent {
    height: 100%;
}

.contenta {
    margin-top: -100px;
    justify-content: center;
    align-items: center;
}

.contentb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background-image: url("./assets/images/20140720_165317_1.jpg");
    display: block;
    height: 50%;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.log { 
    background-color: rgba(245, 244, 244, 0.7);
    min-height: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 350px;
    min-height: auto;
}


