
#logo {
    height: 50px;
    
}

body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: rgb(198, 205, 212);
}


.bg {
    /* The image used */
    background-image: url("./assets/images/S5_005.jpg");

    /* Full height */
    height:100%;

    /* Center and scale the image nicely */
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}



.overlay {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    height: 50%;
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    padding-top: 100px;
}


